@font-face {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    src: url('./resources/overpass/overpass-v12-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./resources/overpass/overpass-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./resources/overpass/overpass-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./resources/overpass/overpass-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./resources/overpass/overpass-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./resources/overpass/overpass-v12-latin-regular.svg#Overpass') format('svg'); /* Legacy iOS */
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  min-height: 100%;
  /*position: relative;*/
}

body {
    background-color: #542344;
    overscroll-behavior-x: none;
    overscroll-behavior-y: none;
    cursor: default;
    font-family: 'Overpass', serif;
}

.main {
    display: grid;
    grid-template-rows: 12% 88%;
    height: 100vh;
}