*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  min-height: 100%;
  /*position: relative;*/
}

body {
    background-color: #542344;
    overscroll-behavior-x: none;
    overscroll-behavior-y: none;
    cursor: default;
    /*font-family: 'Overpass', serif;*/
}