@font-face {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    src: url('../dist/assets/font-overpass/overpass-v12-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../dist/assets/font-overpass/overpass-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../dist/assets/font-overpass/overpass-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../dist/assets/font-overpass/overpass-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../dist/assets/font-overpass/overpass-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../dist/assets/font-overpass/overpass-v12-latin-regular.svg#Overpass') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 800;
    src: url('../dist/assets/font-overpass/overpass-v12-latin-800.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../dist/assets/font-overpass/overpass-v12-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../dist/assets/font-overpass/overpass-v12-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
         url('../dist/assets/font-overpass/overpass-v12-latin-800.woff') format('woff'), /* Modern Browsers */
         url('../dist/assets/font-overpass/overpass-v12-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../dist/assets/font-overpass/overpass-v12-latin-800.svg#Overpass') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 700;
    src: url('../dist/assets/font-fraunces/fraunces-v23-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../dist/assets/font-fraunces/fraunces-v23-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../dist/assets/font-fraunces/fraunces-v23-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../dist/assets/font-fraunces/fraunces-v23-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../dist/assets/font-fraunces/fraunces-v23-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../dist/assets/font-fraunces/fraunces-v23-latin-700.svg#Fraunces') format('svg'); /* Legacy iOS */
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
    background-color: #542344;
    overscroll-behavior-x: none;
    overscroll-behavior-y: none;
    cursor: default;
    font-family: 'Overpass', serif;
    position: relative;
}

button {
    font-family: 'Overpass', serif;
    cursor: pointer;
}


/* MAIN SECTION */

.main {
    display: grid;
    grid-template-rows: 12% 88%;
    height: 100vh;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 3%;
    color: #ebf5ee;
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 1.65rem;
}

.fa-thumbtack,
.header-hamburger-menu {
    color: #EBF5EE;
    cursor: pointer;
}

.fa-thumbtack:hover,
.filters-btn:hover,
.projects-btn:hover {
    transform: scale(1.1);
}

.header-hamburger-menu {
    display: none;
    padding-right: 3%;
    font-size: 3rem;
}

.main-content {
    background-color: #EBF5EE;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: grid;
    grid-template-columns: 25% 72%;
    column-gap: 3%;
    padding: 2% 2% 1%;
}


/* DASHBOARD SECTION */

.main-dashboard {
    display: grid;
    grid-template-rows: 25% 72%;
    row-gap: 3%;
}

.dashboard-filters,
.dashboard-projects,
.main-list {
    box-shadow: -2px 10px 10px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
}

.dashboard-filters {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 20%;
}

.dashboard-filters > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filters-btn {
    border: none;
    outline: none;
    background-color: #EBF5EE;
    font-size: 1.3rem;
}

.filters-btn:active {
    transform: translate(-1px, 1px);
}

.filters-counter,
.project-counter {
    background-color: #808080;
    width: 1.9rem;
    height: 1.9rem;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 800;
    padding-top: 2.5px;
    padding-left: 1px;
}

.dashboard-projects {
    display: grid;
    grid-template-rows: 10% 82%;
    row-gap: 8%;
    padding: 7% 5% 4%;
    overflow-y: scroll;
}

.projects-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.projects-header > h2 {
    font-size: 1.8rem;
}

.projects-btn {
    position: relative;
    background-color: #542344;
    border-radius: 50%;
    width: 15%;
    padding-bottom: 15%;
    box-shadow: 0.2rem 0.5rem 1rem rgba(0, 0, 0, 0.4);
    color: #EBF5EE;
    font-size: 3rem;
    cursor: pointer;
}

.projects-btn p {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    cursor: pointer;
    padding-top: 2.5px;
    padding-left: 1px;
}

.projects-btn:active {
    transform: translate(-2px, 3px);
}

.projects-list {
    display: flex;
    flex-direction: column;
    gap: 5%;
    padding: 0 5% 0 2%;
}

.project-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-name {
    font-size: 1.1rem;
    background-color: #EBF5EE;
    border: none;
    outline: none;
}

.project-name:hover {
    color:#7c4d6d;
}


/* TO-DO LIST SECTION */

.main-list {
    display: flex;
    flex-direction: column;
    gap: 4%;
    padding: 5% 5% 2%;
    overflow-y: scroll;
}

.list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e8e6e7;
    padding: 1.25% 1.5%;
    border-radius: 5px;
}

.list-item:hover {
    box-shadow: -2px 5px 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.01);
}

.low-priority {
    border-left: 8px solid #cfbdc9;
}

.medium-priority {
    border-left: 8px solid #99728c;
}

.high-priority {
    border-left: 8px solid #542344;
}

.list-item-left,
.list-item-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.list-item-right {
    gap: 25px;
}

.fa-pen-to-square,
.fa-trash-can {
    font-size: 1.05rem;
}

.fa-square,
.fa-square-check,
.fa-trash-can {
    color: #696969;
}

.fa-square:hover,
.fa-square-check:hover,
.fa-pen-to-square:hover,
.fa-trash-can:hover {
    color: #99728c;
    cursor: pointer;
}

.item-description {
    font-size: 1.1rem;
}

.item-notes {
    background-color: #e8e6e7;
    border: 1px solid #542344;
    outline: none;
    padding: 0.3rem 0.6rem 0.1rem;
    border-radius: 3px;
    color: #542344;
    font-size: 0.9rem;
}

.item-notes:hover {
    background-color: #542344;
    border: 1px solid #542344;
    color: #e8e6e7;
}

.item-date {
    font-size: 0.8rem;
    width: 5vw;
}

.selected {
    color: #808080;
}

.strike {
    text-decoration: line-through;
}

.done {
    color: #99728c;
    border: 1px solid #99728c;
}


/* POP-UP CARDS */